@import url(blog.css);
@import url(sub.css);
@import url(style.css);
@import url(about.css);


*{
    padding: 0;
    margin: 0;
}
body{
    max-width: 1440px;
    margin:auto;
    font-family:  sans-serif;

}

h1{
    font-size: 1.5rem;
}